.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.up {
  margin-right: 25px;
}

.vanna {
  height: 100px;
  width: 200px;
  display: flex;
  flex-direction: column-reverse;
  border-left: 2px solid #060606;
  border-bottom: 2px solid #060606;
  border-right: 2px solid #060606;

}

.voda {
  flex-direction: column-reverse;
  display: flex;
  background-color:  #04ACFF;
  height: 250px;
  width: 200px;
  justify-content: center;
  
}

